---
http_interactions:
- request:
    method: post
    uri: https://www.linkedin.com/uas/oauth2/accessToken?client_id=77g0bc95ranwgc&client_secret=HlaANe9JNB0lIdBQ&code=&grant_type=authorization_code&redirect_uri=https://localhost:5000/sessions/linkedin
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
      X-Fs-Uuid:
      - e890add28332a413b09319cf282b0000
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-lva1
      X-Li-Uuid:
      - 6JCt0oMypBOwkxnPKCsAAA==
    body:
      encoding: UTF-8
      string: '{"error_description":"missing required parameters, includes an invalid
        parameter value, parameter more than once. : code","error":"invalid_request"}'
  recorded_at: Thu, 06 Nov 2014 22:08:44 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - Bearer
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Request-Id:
      - UOM6JKHHGJ
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-lva1
      X-Li-Uuid:
      - iYQc3YMypBNQ3IMMeysAAA==
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode": 0,
          "message": "Empty oauth2_access_token",
          "requestId": "UOM6JKHHGJ",
          "status": 401,
          "timestamp": 1415311724837
        }
  recorded_at: Thu, 06 Nov 2014 22:08:44 GMT
recorded_with: VCR 2.9.3
